{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
    <link rel="stylesheet" href="{% static 'css/rent.css' %}">
</head>

<body>
    <div class="container">
        {% for movie in romance_movies %}
        <a href="{% url 'movie_detail' movie.id %}">
        <div class="box">
            <div class="imgBx">
                <img src="{{ movie.cover_image.url }}" class="card-img-top" alt="Movie Image">
            </div>
            <div class="content">
                <div>
                    <h2 class="card-title">{{ movie.title }}</h2>
                    <p>Genre: {{ movie.get_genre_display }}</p>     
                </div>

            </div>
        </div>
    </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/rent.js' %}"></script>
</body>

</html>
{% endblock %}